
.computer-menu {
  display: flex;
  flex-direction: column;
}

.button{
  color: white;
    font-weight: bold;
    padding: 0.4rem 1rem;
    border-radius: 0;
    outline: 1px solid white;
    transition: box-shadow 300ms;
    margin-bottom: 1rem;
    cursor: pointer;
    background: linear-gradient(to top, #4d575db6, #0d0d0daf);
    width: 100%;
}

.button:active {
  color: black;
  background: linear-gradient(to top, #c2c2c2, #fafafa);
  animation: buttonActive 0.1s ease-in-out 1;
  outline: 1px solid rgb(32, 32, 32) !important;
}


.button:hover {
  animation: buttonHover 0.8s ease-in-out infinite;
}


@keyframes buttonHover {

  0%,
  100% {
    outline: 2px solid white;
  }

  50% {
    outline: 5px double white;
  }
}

