.cell {
  width: calc(70vh / 8 / sqrt(2));
  height: calc(70vh / 8 / sqrt(2));
  background: linear-gradient(45deg, #adb4b770 0%, #24242c 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  margin-top: 2.4vh;
  margin-left: 2.4vh;
  transform: rotate(-45deg);
  position: relative;
  right: 1vh;
  border: 1px solid #fbfdfe;
  transition: transform 0.2s ease-in-out;
}

/* När pjäsen "faller" */
.cell.falling {
  animation: fall 0.4s ease-out forwards;
  will-change: transform, background-color, outline, box-shadow;
}

@keyframes fall {
  from {
    background-color: #fcfefcd0;
    outline: 4px solid #fcfefc;
    box-shadow: 0 0 100px #fcfefc;
    transform: scale(1.3), rotate(-45deg);
  }

  to {
    background-color: transparent;
    outline: 0px solid #fcfefc;
    box-shadow: 0 0 0 #fcfefc;
    transform: scale(1), rotate(-45deg);;
  }
}

/* .cell.animate {
  transform: scale(1.3);
  transition: transform 0.15s ease-in-out;
} */

.cell:nth-child(even) {
  background: linear-gradient(45deg, #adb4b770 0%, #24242c 100%);
}

.cell:nth-child(odd) {
  background: linear-gradient(45deg, #adb4b770 0%, #3a424d 100%);
}

@keyframes cellAnimaitonX {
  0% {
    background: linear-gradient(45deg, #adb4b770 0%, #24242c 100%);
    transform: scale(1), rotate(-45deg), translateY(0px);
    box-shadow: 0 0 100px #ffffff;
  }
  10% {
    transform: translateY(20px); 
    box-shadow: 0 0 200px #ffffff;
  }
  50% {
    transform: scale(0.9);
    background: white;
  }
  100% {
    background: linear-gradient(0deg, #adb4b770 0%, #1f1fb4 100%);
    transform: scale(1.2) rotate(0), translateY(0px);
    box-shadow: 0 0 0 #ffffff;
  }
}

@keyframes cellAnimaitonO {
  0% {
    background: linear-gradient(45deg, #adb4b770 0%, #24242c 100%);
    transform: scale(1), rotate(-45deg), translateY(0px);
    box-shadow: 0 0 100px #ffffff;
  }

  10% {
    transform: translateY(20px);
    box-shadow: 0 0 200px #ffffff;
  }

  50% {
    transform: scale(0.9);
    background: white;
  }

  100% {
    background: linear-gradient(0deg, #adb4b770 0%, #b91818 100%);
    transform: scale(1.2) rotate(0), translateY(0px);
    box-shadow: 0 0 0 #ffffff;
  }
}

.cell.highlightedX::after,
.cell.highlightedO::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: backgroundFadeIn 1.2s ease-out forwards;
  /* will-change: opacity; */
}

.cell.highlightedX {
  transform: rotate(-45deg);
  box-shadow: 0 0 150px #afafff52;
  outline: 2px solid #1f1fb4;
}

.cell.highlightedX::after {
  
  background: radial-gradient(circle, #adb4b770 0%, #1f1fb4 100%);
}

.cell.highlightedO {
  transform: rotate(-45deg);
  box-shadow: 0 0 150px #ffa4a467;
  outline: 2px solid #b91818b4;
}

.cell.highlightedO::after {

  background: radial-gradient(circle, #adb4b770 0%, #b91818b4 100%);
}

@keyframes backgroundFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.cell::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  /* transition: background 0.2s ease-in-out; */
  z-index: -1;
}

/* Inaktivera ::after effekten för .X och .O */
.cell.X::after,
.cell.O::after {
  background: none;
}

.cell.X,
.cell.O {
/* will-change: background, transform, box-shadow; */
}

.cell.X {
  background: linear-gradient(0deg, #adb4b770 0%, #1f1fb4 100%);
  animation: cellAnimaitonX 0.2s ease-out forwards;
  transform: scale(1.2);
  box-shadow: 0 0 0px #1f1fb4;
  /* border: 1px solid #fbfdfe; */
  outline: 0px solid #1f1fb4;
}

.cell.O {
  background: linear-gradient(0deg, #adb4b770 0%, #b91818 100%);
  transform: scale(1.2);
  animation: cellAnimaitonO 0.2s ease-out forwards;
  box-shadow: 0 0 0px #b91818b4;
  /* border: 1px solid #fbfdfe; */
  outline: 0px solid #b91818b4;
}

@media screen and (max-width: 100vh) {
  .cell {
    width: calc(70vw / 8 / sqrt(2));
    height: calc(70vw / 8 / sqrt(2));
    margin-top: 2.4vw;
    margin-left: 2.4vw;
    right: 1vw;
  }
}