.cell {
  /* width: 100px;
  height: 100px; */
  width: calc(70vh / 8 / sqrt(2));
  height: calc(70vh / 8 / sqrt(2));
  border: 1px solid #000000;
  background: linear-gradient(45deg, #adb4b770 0%, #24242c 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  margin-top: 2.4vh;
  margin-left: 2.4vh;
  transform: rotate(-45deg);
  position: relative;
  right: 1vh;
  border: 1px solid #fbfdfe;
  transition: transform 0.2s ease-in-out;
}

/* Styles for the X and O cells */
.cell.X {
  background: linear-gradient(45deg, #adb4b770 0%, #1f1fb4 100%);
  transform: scale(1.1);
  animation: cellColorChangeX 0.5s ease-in-out 1;

}
.cell.O {
  background: linear-gradient(45deg, #adb4b770 0%, #b91818 100%);
  transform: scale(1.1);
  animation: cellColorChangeO 0.5s ease-in-out 1;
}

@keyframes cellColorChangeX {
  0% {
    background: transparent;
  }
  100% {
    background:  #1f1fb4;
  }
}

@keyframes cellColorChangeO {
  0% {
    background: transparent;
  }

  100% {
    background: #b91818;
  }
}