/* Center the form and give it a shadow */
.set-player-name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(182, 52, 52, 0.1);
  width: 300px;
  margin-top: 50px;
}

/* Style the input fields to make them bigger and more readable */
.input-field {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, #4d575db6, #0d0d0daf);
  margin: 10px 0;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.7);
  /* Slightly transparent placeholder text */
}

/* Style the "Start Game" submit button */
.submit-button {
  padding: 15px;
  background: linear-gradient(to top, #4d575db6, #0d0d0daf);
  color: white;
  border-radius: 0;
  border: 1px solid white;
  cursor: pointer;
  font-size: 16px;
  transition: background 300ms, outline 300ms, box-shadow 300ms;
  margin-top: 10px;
}

/* Animation for submit button when hovering */
.submit-button:hover {
  animation: buttonHover 0.8s ease-in-out infinite;
}

/* Change style when submit button is clicked */
.submit-button:active {
  background: linear-gradient(to top, #c2c2c2, #fafafa);
  color: black;
  outline: 1px solid rgb(32, 32, 32);
  animation: buttonActive 0.1s ease-in-out 1;
}

/* Style the "Back" button in the top corner */
.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.4rem 1rem;
  background: linear-gradient(to top, #4d575db6, #0d0d0daf);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 300ms, outline 300ms, box-shadow 300ms;
  z-index: 10;
}

/* Hover effect for the "Back" button */
.back-button:hover {
  animation: buttonHover 0.8s ease-in-out infinite;
}

/* Active state for the "Back" button when clicked */
.back-button:active {
  background: linear-gradient(to top, #c2c2c2, #fafafa);
  color: black;
  outline: 1px solid rgb(32, 32, 32);
  animation: buttonActive 0.1s ease-in-out 1;
}

/* Keyframe animation for button hover effects */
@keyframes buttonHover {

  0%,
  100% {
    outline: 2px solid white;
  }

  50% {
    outline: 5px double white;
  }
}

/* Keyframe animation for button active state */
@keyframes buttonActive {

  0%,
  100% {
    background: linear-gradient(to top, #c2c2c2, #fafafa);
  }

  50% {
    background: linear-gradient(to top, #4d575db6, #0d0d0daf);
  }
}

