/* src/components/StartPage/Startpage.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px !important; /*height and width here is overriden !important needed look into it later*/
  width: 500px !important;
  /* Fixed width */
  background: linear-gradient(to right, #3b82f6, #6366f1);
  /* Gradient background */
  color: white;
  /* Text color */
  text-align: center;
  /* Center align text */
  margin: 0 auto;
  /* Center the container horizontally */
  border-radius: 0.5rem;
  /* Optional: rounded corners */
  overflow: hidden;
  /* Ensure content does not overflow */
  
}

.logo {
  width: 200px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
  margin-bottom: 2rem;
  /* Space below the logo */
}

.title {
  font-size: 2.5rem;
  /* Increase font size as needed */
  font-weight: bold;
  /* Bold font weight */
  margin-bottom: 2rem;
  /* Space below the title */
}

.button {
  background-color: rgb(255, 255, 255);
  /* Button background color */
  color: #3b82f6;
  /* Text color for buttons */
  font-weight: bold;
  /* Bold text in buttons */
  padding: 0.75rem 1.5rem;
  /* Increase padding for wider buttons */
  border-radius: 0.5rem;
  /* Rounded corners */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  /* Button shadow */
  transition: box-shadow 300ms;
  /* Smooth shadow transition */
  margin-bottom: 1rem;
  /* Space below buttons */
  border: none;
  /* Remove border */
  cursor: pointer;
  /* Pointer cursor on hover */
}

.button:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* Shadow on hover */
}

@media (max-width: 768px) {
  .container {
    height: 60vh;
    /* Adjust height for smaller screens */
    width: 60vh;
    /* Adjust width for smaller screens to maintain square aspect ratio */
  }

  .title {
    font-size: 2rem;
    /* Adjust title font size for smaller screens */
  }

  .button {
    padding: 0.5rem 1rem;
    /* Adjust button padding for smaller screens */
  }
}
