/* Style for the menu button */
.popup-menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.4rem 1rem;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background: linear-gradient(to top, #4d575db6, #0d0d0daf);
  transition: background 300ms, color 300ms, outline 300ms, box-shadow 300ms;
}

/* Add animation effects on hover for the menu button */
.popup-menu-button:hover {
  animation: buttonHover 0.8s ease-in-out infinite;
  /* Applying the same hover animation as the modal buttons */
}

/* Change button appearance when pressed */
.popup-menu-button:active {
  background: linear-gradient(to top, #c2c2c2, #fafafa);
  color: black;
  outline: 1px solid rgb(32, 32, 32);
  animation: buttonActive 0.1s ease-in-out 1;
}

/* The existing hover animation and keyframes for buttons */
@keyframes buttonHover {

  0%,
  100% {
    outline: 2px solid white;
  }

  50% {
    outline: 5px double white;
  }
}

@keyframes buttonActive {

  0%,
  100% {
    background: linear-gradient(to top, #c2c2c2, #fafafa);
  }

  50% {
    background: linear-gradient(to top, #4d575db6, #0d0d0daf);
  }
}


/* Style for the overlay background when the menu is open */
.menu-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  animation: fadeIn 0.5s ease-in-out;
}
/* Fade-in effect for the overlay */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Background image animation effect for the menu content */
@keyframes scaleInBackground {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Background image for the menu content */
.menu-modal-content::before {
  content: '';
  position: absolute;
  top: 18vh;
  left: 19.5vw;
  width: 60%;
  /* Gör bilden lika bred som föräldern */
  height: 60%;
  background: url('./img/popup-menu-background.png') center center no-repeat;
  background-size: contain;
  z-index: -1;
  overflow: visible;
  animation: scaleInBackground 0.5s ease-out;
}
/* Style for the menu content area */
.menu-modal-content {
  padding: 20px;
  border-radius: 10px;

}

.menu-modal-content h2 {
  margin-top: 0;
  text-align: center;
}

@keyframes scaleInButton {
  0% {
    transform: scale(0), translateY(10px);
  }

  100% {
    transform: scale(1), translateY(0);
  }
}

.menu-modal-content button {
  /* background-color: transparent; */
  color: white;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 0;
  outline: 1px solid white;
  transition: box-shadow 300ms;
  margin-bottom: 1rem;
  cursor: pointer;
  background: linear-gradient(to top, #4d575db6, #0d0d0daf);
  width: 100%;
}

.menu-modal-content button:last-child {
  margin-bottom: 0;
}

.menu-modal-content button:hover {
  /* outline: 3px solid white; */
  animation: buttonHover 0.8s ease-in-out infinite;
}

@keyframes buttonHover {

  0%,
  100% {
    outline: 2px solid white;
  }

  50% {
    outline: 5px double white;
  }
}

.menu-modal-content button:active {
  color: black;
  background: linear-gradient(to top, #c2c2c2, #fafafa);
  animation: buttonActive 0.1s ease-in-out 1;
  outline: 1px solid rgb(32, 32, 32) !important;
}

@keyframes buttonActive {

  0%,
  100% {
    background: linear-gradient(to top, #c2c2c2, #fafafa);
  }

  50% {
    background: linear-gradient(to top, #4d575db6,
        #0d0d0daf);
  }
}