.game-over {
  text-align: center;
  margin-top: 20px;
}

/* Modal overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3b3b3b(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Ensure modal is above other content */
}

/* Modal content styles */
.modal-content {
  background: #3b3b3b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 300px;
  font-size: 1.2rem;
  /* You can adjust the width as needed */
}

/* Button styles */
.modal-content button {
  background-color: #9a9a9a;
  /* Bootstrap primary color */
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow:  0 0 8px rgba(255, 255, 255, 0.3);
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%
}

/* Button hover effect */
.modal-content button:hover {
  background-color: #eeefea;
  color: #0d0d0d;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  /* Darker shade for hover */
}