/* @import url('../../assets/css/responsive.css'); */
.board {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 70vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48.2vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.board.locked {
  pointer-events: none;
}
