/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General body styles */
body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-shadow: -2px -2px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  /* Skapar en svart "stroke" runt texten */
  /* Gradient background for the whole page */
  overflow: hidden;
  will-change: opacity;
  animation: fadeIn 2.5s ease-in-out 1;
}

/* Main application container */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 70vh;
  /* background: url('./assets/img/background-menu.png') no-repeat center center,
  linear-gradient(to bottom, #4d575d7e, #4d575d73, #0d0d0d60, #0d0d0d42); */
  /* background-blend-mode:color-dodge; */
  overflow: visible;
  border: 2px solid #eeefea;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.507);
  /* background: radial-gradient(circle, #5353537e 0%, #494f5c42 100%); */
  /* will-change: opacity, transform; */
  animation: fadeInApp 0.5s ease-in-out 1;
}

.logo {
  display: none;
  width: 11vh;
  height: 11vh;
  position: absolute;
  top: 4vh;
  left: calc((50% - 5.5vh) - 1px);
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInApp {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.background-menu {
  /* background: url('./assets/img/background-menu.png') no-repeat center center; */
  /* background-blend-mode: color-dodge; */
  background-size: cover;
  overflow: visible;
  bottom: 0px;
  z-index: -1;
  width: 88vh;
  height: 94vh;
  position: absolute;
  bottom: calc((50% - 47vh) - 4px);
  right: calc((50% - 44vh) + 4px);
  /* will-change: transform; */
}

.empty-board {
  height: 70vh;
  width: 70vh;
  border: 1px solid #eeefea;
  z-index: -1;
  animation: sway-square 30s ease-in-out infinite;
  position: absolute;
}

@keyframes sway-square {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(8deg);
  }
  66% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Additional styles for the Rules component (if needed) */
.rules-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Full viewport height */
}

/* Additional rules board styles */
.rules-board {
  background-color: white;
  /* Change the background color of the rules board */
  border-radius: 8px;
  /* Optional: rounded corners for the rules board */
  padding: 2rem;
  /* Padding inside the rules board */
  max-width: 800px;
  /* Maximum width of the rules board */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for better visibility */
}

/* Text styles inside the rules board */
.rules-board h2 {
  text-align: center;
  color: #333;
  /* Change the color of the heading */
}

.rules-board h3 {
  margin-top: 1rem;
  color: #555;
  /* Change the color of subheadings */
}

.rules-board p,
.rules-board ol {
  color: #666;
  /* Change the color of paragraph and list text */
}

.undo-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 10px;
  width: 100%;
  z-index: 10;
  position: relative;
}

.undo-container button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 2px solid #eeefea;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
}

.undo-container button:hover {
  background: #000000;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.undo-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
