/* @import url('../../assets/css/responsive.css'); */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-image: url('/path/to/your/background-image.jpg'); */
  /* Byt ut till den faktiska sökvägen till din bild */
  background: #000;
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* Se till att den ligger bakom spelet */
}